# Objetos e pastas de build
bin/
obj/
*.o

# Arquivos temporários e de configuração do Code::Blocks
*.layout
*.depend

# Ignorar outros executáveis genéricos, exceto o principal da aplicação
*.exe
!gerenciador_estoque.exe
